
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<body>
<style type="text/css">
	.largura-central{
		width: 75%;
		margin: auto;
	}
	.botao{
		cursor: pointer;
	}
</style>
<div class="form-group">
	<div ng-app="myApp" ng-controller="myCtrl" class="largura-central">
      	
      	<label>Data:</label>
      	<input class="form-control" type="textfield" ng-model="data">

      	<label>Versao:</label>
		<select class="form-control" ng-model="nomeVersao" ng-options="z for z in versao"></select>

		<label>Equipe:</label>
		<select class="form-control" ng-model="nomeEquipe" ng-options="z for z in equipe"></select>

		<label>Tarefa: </label>
		<input class="form-control" type="textfield" ng-model="nomeTarefa">

      	<label>Prioridade:</label>
      	<select class="form-control" ng-model="nomePrioridade" ng-options="x for x in prioridade"></select>

		<label>Componente:</label>
		<select class="form-control" ng-model="nomeComponente" ng-options="y for y in componente"></select>
 
		<label>Banco 1:</label>
      	<select class="form-control" ng-model="nomeBanco1" ng-options="x for x in banco"></select>

		<label>Banco 2:</label>
      	<select class="form-control" ng-model="nomeBanco2" ng-options="x for x in banco"></select>

      	<label>Tipo Tarefa:</label>
      	<select class="form-control" ng-model="nomeTipo" ng-options="x for x in tipo"></select>
      	
      	<label>Autor:</label>
      	<select class="form-control" ng-model="nomeAutor" ng-options="x for x in funcionario"></select>

      	<label>Teste 1:</label>
      	<select class="form-control" ng-model="nomeAutorTeste1" ng-options="x for x in funcionario"></select>

      	<label>Teste 2:</label>
      	<select class="form-control" ng-model="nomeAutorTeste2" ng-options="x for x in funcionario"></select>

      	<label>CodeReview 1:</label>
      	<select class="form-control" ng-model="nomeAutorCode1" ng-options="x for x in funcionario"></select>

    	<label>CodeReview 2:</label>
      	<select class="form-control" ng-model="nomeAutorCode2" ng-options="x for x in funcionario"></select>

      	<label>Descricao: </label>
		<input class="form-control" type="textfield" ng-model="descricao">

      	<label>Nível Dificuldade:</label>
      	<select class="form-control" ng-model="nivelDificuldade" ng-options="x for x in niveldificuldade"></select>

      	<label>Base de Teste:</label>
      	<select class="form-control" ng-model="baseTeste" ng-options="x for x in baseteste"></select>

		<label>Issue: </label>
		<input class="form-control" type="textfield" ng-model="issue">

      	<!--<label>Issue: </label>
		<input type="text" class="form-control" id="usr" ng-model="issueToAdd" my-enter="insereValor(issueToAdd)">
		<div ng-repeat="issue in issues track by $index" style="margin-top: 5px;">
			<span>{{issue}}</span>
			<span class="label label-danger botao" ng-click="removeValor($index)">X</span>
		</div>-->		
		
		<spam class="label label-primary">VALUES ('{{data}}', '{{nomeVersao}}', '{{nomeEquipe}}', '{{nomeTarefa}}', '{{nomePrioridade}}', '{{nomeComponente}}', '{{nomeBanco1}}', '{{nomeBanco2}}', '{{nomeTipo}}', '{{nomeAutor}}', '{{nomeAutorTeste1}}', '{{nomeAutorTeste2}}', '{{nomeAutorCode1}}', '{{nomeAutorCode2}}', '{{descricao}}', '{{nivelDificuldade}}', '{{baseTeste}}', '{{issue}}');</spam><br>
		
		<spam class="label label-primary">EXEC insertInfo @StatusVariaveis = 0, @Data = '{{data}}', @Versao = '{{nomeVersao}}', @Equipe = '{{nomeEquipe}}', @Tarefa = '{{nomeTarefa}}', @Prioridade = '{{nomePrioridade}}', @Componente = '{{nomeComponente}}', @Banco1 = '{{nomeBanco1}}', @Banco2 = '{{nomeBanco2}}', @TipoTarefa = '{{nomeTipo}}', @Autor = '{{nomeAutor}}', @Teste1 = '{{nomeAutorTeste1}}', @Teste2 = '{{nomeAutorTeste2}}', @Code1 = '{{nomeAutorCode1}}', @Code2 = '{{nomeAutorCode2}}', @Erro = '{{descricao}}', @NivelDificuldade = '{{nivelDificuldade}}', @BaseTeste = '{{baseTeste}}', @Issue = '{{issue}}';</spam><br>
		
		
		<!--<spam class="label label-primary">git commit -m "#{{(nomeTipo=="BUG")?'I':'M'}}: {{issues.join(', ') | uppercase}} - Tela: SE {{nomeComponente}} - Descricao: {{descricao}}"</spam><br>
		<spam class="label label-primary">git push origin {{nomeTipo}}-{{issues[0] | uppercase}}-{{nomeComponente.replace(" ","-").replace(" ","-")}}-{{nomeVersao}}</spam>-->

	</div>
</div>
	<script>
	var app = angular.module('myApp', []);
	app.directive('myEnter', function () {
	    return function (scope, element, attrs) {
	        element.bind("keydown keypress", function (event) {
	            if(event.which === 13) {
	                scope.$apply(function (){
	                    scope.$eval(attrs.myEnter);
	                });

	                event.preventDefault();
	            }
	        });
	    };
	});

	app.controller('myCtrl', function($scope) {
		$scope.versao = ["Master","Dev"];
		$scope.equipe = ["ACT", "EQM"];
		$scope.prioridade = ["Crítica", "Alta", "Média", "Baixa"];
		$scope.componente = ["Plano de Ação", "Ação", "Auditoria", "Residuo"];
		$scope.banco = ["", "Oracle", "Post", "SQL"];
	    $scope.tipo = ["BUG", "FEATURE"];
	    $scope.funcionario = ["", "Alex", "Alfredo", "Eduardo", "Guilherme G.", "Guilherme M.", "Klisman", "Jonatan", "Richard"];
	    $scope.niveldificuldade = ["Difícil", "Média", "Fácil"];
	    $scope.baseteste = ["Exploratório", "Descrito no plano de teste", "Descrito na tarefa"];
	    $scope.issues = [];

	    $scope.insereValor = function(valor){
	    	
	    	if($scope.issues.indexOf(valor) == -1 && valor != "EQM-undefined"){
	    	$scope.issues.push(valor);
			}
	    	$scope.issueToAdd = "";
	    	
	    }

	    $scope.removeValor = function(valor){
	    	$scope.issues.splice(valor,1);
	    }
	});
	</script>
</body>
</html>